body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url("header.jpg") no-repeat center center fixed;
}

h1 {
  font-size: 3rem;
  color: #e2dbe2;
}

hr {
  border-color: #f05f44;
  border-width: 3px;
  max-width: 65px;
}

.btn {
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;
  background-color: #f05f44;
  border-color: #f05f44;
}

.btn-primary:hover {
  background-color: #ffffff;
  border-color: #f05f44;
  color: #ee4b08;
  /* border-width: 4px; */
}

.button-xl {
  padding: 1rem 2rem;
}

.buffer {
  height: 10rem;
}